{% extends "base.html'%}
{% from "macros.html" import render_paginayion %}

{% block body %}
<div class="container-fluid header">
  <div class="jumbotron">
  <div class="container">
     <h1>JOBPLUS</h1>
     <p></p>
     </div>
 </div>
 </div>
                             
 <div class="container">
     <ul class="nav-tabs list-title">
         <li role="presentation" class="active">
         <a href="#"></a>
         </li>
     </ul>
     
<div class="job-list">
    <div class="col-sm-6 col-md-4">
        <div class="job-box">
            {% for    in   %}
            <div class="caption">
                <a href="#" >
                </div>

                <div class="media">
                </div>
            </a>
            {% endblock %}

        </div>
    </div>  


    <p class="list-more">
    <a href="#", class="btn btn-success btn-lg list-more-btn"></a>
    </p>
    <div class="container">
        <ul class="nav-tabs list-title">
            <li role="presentation" class="active">
            <a href="#"></a>
            </li>
        </ul>
        <div class="job-list">
            <div class="col-sm-6 col-md-4">
                <div class="job-box">
                    {% for    in   %}
                    <a href="#" >
                        <div class="caption">
                          
                        </div>
                         <div class="media">
                         </div>
                          </a>
                        {% endblock %}
                    
                </div>
            </div
        </div>  
    
    <p class="list-more">
    <a href="#", class="btn btn-success btn-lg list-more-btn"></a>
    </p>

    {% endblock %}
