{% extends 'admin/admin_base.html' %}
{% from 'macros.html' import render_form,render_pagination %}

{% block title %}
管理-用户
{% endblock %}
{% block opreation %}
<div class='btn-group'>
    <a href='' class='btn btn-primary'>
        <span class='glyphicon glyphicon-plus'></span>
           添加用户
    </a>
    <a href='' class='btn btn-primary'>
        <span class='glyphicon glyphicon-plus'></span>
           添加企业
    </a>
</div>
div class='list-group'>
</div>
{% endblock %}

{% block admin %}
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>用户名/企业名称</th>
            <th>类型</th>
            <th>邮箱</th>
            <th>手机号</th>
            <th>姓名</th>
            <th>企业网站</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in pagination.items %}
        <tr>
            <!--可以合在一起判断-->
            <td>{{ user.id }}</td>
            {%if user.role == 20%}
            <td>{{ user.user_company_info.name }}</td>
            {%else%}
            <td>{{ user.name }}</td>
            {%endif%}
            {% if user.role == 10 %}
            <td>求职者</td>
            {%elif user.role == 20 %}
            <td>企业</td>
            {%else%}
            <td>管理员</td>
            {%endif%}
            <td>{{ user.email }}</td>
            {% if user.role == 10 %}
            <td>{{ user.user_user_info.phone }}</td>
            <td>{{ user.user_user_info.name }}</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
            {% if user.role == 20%}
            <td>{{ user.user_company_info.url }}
            {%else%}
            <td></td>
            {%endif%}
            <td>
                <div class='btn-group'>
                    {% if user.role == 10%}
                    <a href='{{ url_for('admin.users_edit', id=user.id) }}' class='btn btn-default'>编辑</a>
                    {%else%}
                    <a href='{{ url_for('admin.company_edit', id=user.id) }}' class='btn btn-default'>编辑</a>
                    {%endif%}
                    {% if user.state == user.USER_DISABLE %}
                    <button id='state_change' class='btn btn-default'>启用</button>
                    {%else%}
                    <button id='state_change' class='btn btn-default'>禁用</button>
                    {%endif%}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ render_pagination(pagination,'admin.users')}}
{% endblock %}
 
{% block tail_js %}
      <script src="http://labfile.oss.aliyuncs.com/courses/923/week7/code/jquery/3.2.1/jquery.min.js"></script>
      <script src="http://labfile.oss.aliyuncs.com/courses/923/week7/code/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
$(function(){$('#state_change').click(function(){
                alert('ha')})})
/*
        $('#state_change').click(function(){
            var id=$(this).parents('td').siblings().eq(0).value()
            if($(this).text()=='启用'){
                var nextstate=2;
                var nexttext='禁用';
            }else{
                var nextstate=1;
                var nexttext='启用';
            }
            $.post('/admin/users',{
                state:nextstate;
                id:id;
            },function(data, status){
                if(status=='success'){
                $('#state_change').text(nexttext)
                }else{
                    alert('操作失败')
                }
            })
        })
        */
    </script>
{% endblock %}

