{% extends 'admin/admin_base.html' %}
{% from 'macros.html' import render_form}

{% block title %}
管理-职位
{% endblock %}

{% block admin %}
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>职位名称</th>
            <th>企业名称</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for job in pagination.items %}
        <tr>
            <!--可以合在一起判断-->
            <td>{{ job.id }}</td>
            <td>{{ job.name }}</td>
            <td>{{ user.company.name }}</td>
            <td>
            {% if job.state == job.JOB_ON %}
                <button id='change_state' class='btn btn-default'>下线</button>
                {%elif job.state == job.JOB_OFF%}
                <button id='change_state' class='btn btn-default'>上线</button>
                {% else %}
                <button  class='btn btn-default disable'>删除</button>
                {% endif %}
            </td>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
 
{% block tail_js %}
    <script>
        $('#change_state').click(function(){
            var id=$(this).parents('td').siblings().eq(0).value()
            if($(this).text()=='上线'){
                var nextstate=1;
                var nexttext='下线';
            }else{
                var nextstate=2;
                var nexttext='上线';
            }
            $.post('/admin/jobs',{
                state:nextstate;
                id:id;
            },function(data, status){
                if(status=='success'){
                $('#change_state').text(nexttext)
                }else{
                    alert('操作失败')
                }
            })
        })
    </script>
{% endblock %}

